<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <meta lang="en">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Web Elliot</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <script src="../static/script/jquery-3.6.0.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
{%block body%}{%endblock%}
<footer class="position-absolute bottom-0 w-100 bg-light gy-2">
    <div class="text-muted">
        <p class="py-3">Developed by <a href="mailto:m.valentini7@studenti.it"
                                       title="m.valentini7@studenti.poliba.it">Marco Valentini</a> under the supervision
            of SisInfLab Research Group - Politecnico di Bari </p>



    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>
</html>
